<!-- Shared navigation fragment. The document shell is provided by base.jinja. -->
      <nav style="
        z-index: 1;
        min-height: 60px;"
        class="navbar navbar-expand-lg navbar-dark bg-dark .navbar-fixed-top"
      />

      <!-- Container wrapper -->
      <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <i class="fa-solid fa-otter fa-lg"></i>&nbsp;ROV
            <!-- <i class="fa-solid fa-paw fa-lg"></i>&nbsp;K9 -->
        </a>

          <!-- Right elements -->
          <!-- Icons -->
          <ul class="navbar-nav d-flex flex-row me-1">

              <!-- Battery Level -->
              <!-- NATS system/state-of-charge -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="batteryLevel"><i class="fa-solid fa-battery-half" aria-hidden="true"></i>&nbsp;Battery --</a>
              </li>

              <!-- NATS battery/voltage -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="batteryVoltage">Voltage --</a>
              </li>
              <!-- End Battery Level -->

              <!-- seperater -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link">|</a>
              </li>

              <!-- NATS water/temperature -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="temperature">Temperature --</a>
              </li>

              <!-- seperater -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link">|</a>
              </li>

              <!-- NATS direction/depth -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="compass">Heading --</a>
              </li>

              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="depth">Depth --</a>
              </li>

              <!-- seperater -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link">|</a>
              </li>

              <!-- NATS system/uptime -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="upTime">Uptime --</a>
              </li>

              <!-- seperater -->
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link">|</a>
              </li>

              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/"><i class="fa-solid fa-video fa-lg"></i>&nbsp;Live</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/files/"><i class="fa-solid fa-film fa-lg"></i>&nbsp;Files</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/data/"><i class="fa-solid fa-table-list"></i>&nbsp;Raw Data</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/files/"><i class="fa-solid fa-traffic-light"></i>&nbsp;Annunciator</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/map/"><i class="fa-solid fa-map-location-dot"></i>&nbsp;Map</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/cameras/"><i class="fa-solid fa-camera"></i>&nbsp;Cameras</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/gamepad/"><i class="fa-solid fa-gamepad"></i>&nbsp;Gamepad</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" href="/account/"><i class="fa-solid fa-user-shield"></i>&nbsp;Account</a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link" id="sessionLink" href="/login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login</a>
              </li>

          </ul>
          <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
  <!-- Navbar End-->
<script>
fetch('/api/session', {cache:'no-store', credentials:'same-origin'}).then(r=>r.json()).then(session => {
  const link=document.getElementById('sessionLink');
  if (!link || !session.authenticated) return;
  link.href='/logout'; link.innerHTML='<i class="fa-solid fa-right-from-bracket"></i>&nbsp;'+session.username; link.title='Log out';
}).catch(() => {});
</script>

