[Unit]
Description=ROV Cockpit web application
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ROV---Cockpit
ExecStart=/bin/bash /home/pi/ROV---Cockpit/run.sh
Environment=MAP_TILE_PROXY=true
Environment=CSV_ROOT=/home/pi/ROV---Cockpit/media/data/csv
Restart=always
StandardOutput=file:/home/pi/cockpit_output.log
StandardError=file:/home/pi/cockpit_output.log

[Install]
WantedBy=multi-user.target
